{%extends 'base.html'%}
{%load static%}
{%block title%}
AB HOLDINGS ~CONTACT
{%endblock%}
{%block content%}


        <!-- Services-->
        <section class="page-section" id="services">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Value added Services</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
                <div class="row text-center">
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-wrench fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">Installations,Repairs and Maintenance</h4>
                        <p class="text-muted">We have certified technicians on standby to assist with all your installation, repair and maintenance needs. Whether it is an entire unit or just a component, we are here for you</p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-plane fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">International Sourcing</h4>
                        <p class="text-muted">We have long standing relationships with a host of international suppliers and
                        manufactures, giving us the edge to procure any unit or component you require. With quick turnaround times, we can get most orders to you within 21 business days.</p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-pen-nib fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">Design and Layout</h4>
                        <p class="text-muted">We also offer kitchen design and layout planning , we have a reliable team that has designed for some of the top restuarants in the country.There's no kitchen that is too small or too big, nor there is a deisign and layout plan that is too important
                        or too insignificant, with us you are guaranteed quality service every time </p>
                    </div>
                </div>
            </div>
        </section>
        {%endblock%}